<mat-sidenav-container class="layout-container">
    <mat-sidenav mode="side" opened class="sidebar">
        <div class="logo-section">
            <div class="brand">
                <div class="brand-icon">
                    <mat-icon>health_and_safety</mat-icon>
                </div>
                <div>
                    <h2>CureEMR</h2>
                </div>
            </div>
            <!-- <p>Empowering Healthcare</p> -->
        </div>
        <mat-nav-list>
            <a mat-list-item routerLink="/dashboard" routerLinkActive="active-nav">
                <div class="nav-item">
                    <mat-icon>dashboard</mat-icon>
                    <span>Dashboard</span>
                </div>
            </a>
            <a mat-list-item   routerLink="/patients" routerLinkActive="active-nav">
                <div class="nav-item">
                    <mat-icon>people</mat-icon>
                    <span>Patients</span>
                </div>
            </a>
            <a mat-list-item routerLink="/appointments" routerLinkActive="active-nav">
                <div class="nav-item">
                    <mat-icon>event</mat-icon>
                    <span>Appointments</span>
                </div>
            </a>
            <a mat-list-item routerLink="/visits" routerLinkActive="active-nav">
                <div class="nav-item">
                    <mat-icon>medical_services</mat-icon>
                    <span>Visits</span>
                </div>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar class="topbar">
            <span class="topbar-title">Healthcare Operations Center</span>
            <span class="spacer"></span>
            <div class="user-profile">
                <div class="user-avatar">
                    {{ authState.currentUser()?.fullName?.charAt(0) }}
                </div>
                <div class="user-info">
                    <div class="user-name">
                        {{ authState.currentUser()?.fullName }}
                    </div>
                    <div class="user-role">
                        {{ authState.currentUser()?.role }}
                    </div>
                </div>
            </div>
        </mat-toolbar>
        <div class="content-area">
            <router-outlet />
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>